html {
  font-size: 10px;
  font-family: 'Arial', sans-serif;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #c0cce0;
}

#body1 {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FFFFFC;
  padding: 2% 2%;
  border: 2px solid black;
}

#body2 {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FFFFFC;
  padding: 2% 2%;
  border: 2px solid black;
}

h1 {
  margin: 0;
  font-size: 40px;
  text-align: center; 
  color: #FFFFFC;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

#map {
    margin: 0 auto;
    height: 400px;
    width: 100%;
}

#startBtn{
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 30px;
  color:#FFFFFC;
  background-color: #00539F;
}

#sizeSelect{
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 30px;
  color:#FFFFFC;
  background-color: #00539F;
}