html {
  font-size: 10px;
  font-family: 'Arial', sans-serif;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #c0cce0;
}

#body1 {
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 2% 2%;
  border: 2px solid black;
}


#bloc1, #bloc2
{
	width: 33%;
  height: 500px;
  vertical-align: top;
  text-align: center;
	display: inline-block;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 2% 2%;
  border: 2px solid black;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}

p {
  font-size: 20px;
  text-align: left;
  position: relative;
  top: 5%;
  left: 30%;

}

h1 {
  margin: 0;
  font-size: 40px;
  text-align: center; 
  color: #FFFFFF;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

#map {
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

#startBtn{
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 30px;
  color:#FFFFFF;
  background-color: #00539F;
}

#sizeSelect{
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 30px;
  color:#FFFFFF;
  background-color: #00539F;
}